@import '~bootstrap/scss/bootstrap.scss';
$color: steelblue;
$red:#d13028;
$darksmoke:#4d4f4d;
$kensCoal:rgb(31,30,30);
*{
  display:block;
  box-sizing: border-box;
  font-size: clamp(0.8rem,1rem,1.5rem);
  padding: 0;
}
body{
  background-color:$kensCoal;
}
#root{
  background-color: $kensCoal;
}
.profileViewTop{
  background-color:rgb(31, 30, 30);
}
.test:hover{
  transform: scale(1.06);
  transition: 1s;
  background-color: orangered;
  
}
.buttonBorder{
  margin:25vh;
  margin-right:5px;
  width:fit-content;
  margin-bottom:5px;
  background-color:rgb(31,30,30);
  border-Radius:5px;
  float:right;
  margin-left: 5px;
  
}
.test{
  transition: 1s;
  padding: none;
}
.navBrand{
  margin-left: 5px;
}
.my-flix {
  color: $color;
}
.favsList{
  width:100%;
  display: flex;
  flex-direction: column;
  border: 1px solid;
}

.favs{
  width:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  
}

.center{
  width:100%;
  margin: 0 auto;
}
button,.button,Button{
  margin-top: 2vw;
  margin-bottom: 5px;
  background-color: $red;
}
#editbtn{
  margin-left: 7.4vw;
  margin-top: 40px;
  background-color: $red;
  border:none
}
#subbut,  #delbut,#delbut:disabled{
  background-color: $red;
  border:none;
}
.form.label,label{
  color:whitesmoke;
}

.profileView{
  display:flex;
  flex-direction: column;
  background-color:'#4d4f4d' ;
  border-radius: 5px;
  width: 85%;
  margin-left: 7vw;
}
.card{
  transition: 1s;
}
.card:hover{
  background-color:rgb(238, 80, 17);
  transition: 1s;
  transform:scale(1.1);
  z-index: 1000;
}
.loginForm{
  margin-top: 5vw;
  box-sizing: border-box;
  background-color:rgb(31, 30, 30) ;
}
.nav{
  display: inline-block;
  box-sizing: border-box;
 }
.confirmUpdate{
  display:flex;
  flex-direction: row;
}
.picNoGrow{
  width:fit-content;
  height: 20vw;
  
}
.picDetail{
  //this is the pic inside the profile, when viewing the favs, in movieView, this pic is static and doesn not scale
  width:fit;
  height: 30vw;
  float:left;
  margin-right: 5px;
}

.pic{
  width:17vw;
  height: 20vw;
  background-color: black;
  transition: 0.5s;
  min-width: 200px;
  min-height: 150px;
  float: left;
  max-height: fit-content;
  margin: 3px 5px 3px 5px;
}
.favedPic{
  
  max-width: 17vw;
  height: 20vw;
  background-color: black;
  background-size: cover;
  transition: 0.5s;
  min-width: 200px;
  min-height: 150px;
  float: left;
  max-height: fit-content;
  margin: 3px 5px 3px 5px;
  border-radius: 10px;
  z-index: 1000;
  background-color: $red;
  border: 2px solid $red;
}
.pic:hover{
  
 transition: 1s;
 border-radius: 10px;
 z-index: 1000;
 background-color: $red;
 border: 2px solid $red;
}
.movieDetails{
  border:1px solid;
  text-align: left;
  background-color:$darksmoke;//#fa921b
  border-radius: 10px;
 
}
.removeBtn{
  transition: 1s;
  border:1px solid;
   text-align:center;
   width:fit-content;
   height:2vw;
   box-sizing: border-box;
   position: relative;
   border-Radius:5px;
   min-width:25px;
   min-height:25px;
    background-color:#d13028;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    
}
.removeBtn:hover{
  background-color: orangered;
  transition: 3s;
  transform: translateX(185%);
  
}
.cardBack{
  text-align: center;
  border:2px solid;
  display: flex;
  flex-direction: row;
  width:100%;
  height:fit-content;
  background-color: rgb(31, 30, 30);
}
.movieText{
  padding-left: 1vw;
  color:whitesmoke;
  margin-left: 5px;

}
.hide{
  display: none;
}
.editForm{
  margin-left: 7vw;
  margin-right: 7vw;
}
.mCardImg{
  height:25vw;
  width: 45vw;
}
.mCard{
  min-width:10vw;
}
.moviesViewSect{
  background-color: black;
  border: 1px solid;
}

@media only screen and (max-width:600px) {
  .moviesViewSect,.favsList{
    flex-direction: column;
  }
  .pic{

    width: 17vw;
    height: 100%;
    
  }
  .favedPic{
    
    width:100%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
    z-index: 1000;
    background-color: $red;
    border: 2px solid $red;
  }

  .removeBtn{
    transition: 1s;
    border:1px solid;
     text-align:center;
     width:fit-content;
     height:2vw;
     box-sizing: border-box;
     border-Radius:5px;
     min-width:25px;
     min-height:25px;
      background-color:#d13028;
      justify-content: center;
      padding-left: 5px;
      padding-right: 5px;
      align-items: center;
      
  }

}
