@import '~bootstrap/scss/bootstrap.scss';
$color: steelblue;
*{
  display:block;
  box-sizing: border-box;
}
.my-flix {
  color: $color;
}

.center{
  width:100%;
  margin: 0 auto;
}
.button{
  margin-top: 2vw;
  margin-bottom: 5px;
}
.searchInput{
  margin-top: 1vw;
  color: #c3ecfa;
}
.profileView{
  display:flex;
  flex-direction: column;
}
.card:hover{
  background-color:rgb(238, 80, 17);
  transition: 1s;
  transform:scale(1.1);
}
.loginForm{
  margin-top: 5vw;
  box-sizing: border-box;
}


